@font-face {
  font-family: 'Bromello';
  src: url('bromello.ttf');
}

h1 {
  font-family: 'Bromello', Fallback, sans-serif;
  font-size: 48px
}

.centered_header {
  position: fixed;
  top: 20px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered_welcome {
  position: fixed;
  top: 200px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered_picture {
  position: fixed;
  top: -160px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered_text {
  position: fixed;
  top: 450px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centered_bottom {
  position: fixed;
  top: 600px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.white {
  fill:white;
  stroke:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.white:hover {
  fill:#515151;
  stroke:lightblue;
  stroke-width:1;
}

.white2 {
  fill:white;
  stroke:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.white2:hover {
  stroke:lightblue;
  stroke-width:1;
}

.black {
  fill:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.black:hover {
  fill:#515151;
  stroke:lightblue;
  stroke-width:1;
}

.black2 {
  fill:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.black2:hover {
  stroke:lightblue;
  stroke-width:2;
}

/*
.piano {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.key {
fill: red;
}

#mySong {
  width:75vw;
  display:flex;flex-flow:row wrap;justify-content:space-around;align-items:center;font-size:40px;color:black;font-family:monospace
}

.group1 {
}
*/

/*
.divContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.divContainer2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  overflow-x: scroll;
}

.songNote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  height: 95px;
  padding: 10px;
  border: black solid 1.5px;
  margin: 10px;
}

.sharps {
  color: gray;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  z-index: 14;
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: -250px;
}

.keysNumbers {
  color: lightgray;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  z-index: 10;
  width: 740px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: -110px;
}

.keysNotes {
  color: gray;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  z-index: 13;
  width: 740px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: -150px;
}
*/

/*
.active {
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
transition-duration: 1s;
transform: scale(1);
  fill:#9e9e9e;
  stroke:lightblue;
  cursor:pointer;
  stroke-width:1;
  outline: black solid 3px;
}
*/
